---
import Default from "@layouts/default.astro";
import LBEditor from "@components/LBEditor.vue";

const pageMeta = {
	"title": "Layout Breakouts Builder",
  "description": "Generate CSS for the Layout Breakouts pattern"
};

---

<Default meta={pageMeta}>
	<h1>Layout Breakouts Builder</h1>
	<LBEditor client:only />
</Default>
