---
import Default from "@layouts/default.astro";
import LBEditor from "@components/LBEditor.vue";

const pageMeta = {
	"title": "Layout Breakouts Builder",
  "description": "Generate CSS for the Layout Breakouts pattern"
};

---

<Default meta={pageMeta}>
	<header class="page-layout">
		<div>
			<h1>Layout Breakouts Builder</h1>
			<h2>An interactive CSS generator for the popular CSS Grid page layouts pattern, Layout Breakouts.</h2>
			<h3>Created by <a href="https://andrewwalpole.com" target="_blank">Andrew Walpole</a></h3>
			<p>Layout Breakouts is <a href="https://ryanmulligan.dev/blog/layout-breakouts/" target="_blank">a pattern coined by Ryan Mulligan</a>. The idea was then expanded-upon by <a href="https://www.youtube.com/watch?v=c13gpBrnGEw" target="_blank">Kevin Powell in a video</a> where he showed a trick to allow the concept to cascade down markup by nesting the full-width grid into itself, making this pattern useful and robust for setting the main page layout system on production websites.</p>

			<p>While the concept is very useful once set, the setup is non-trivial, requiring a decent bit of CSS math. So I have built this generator to make it easier to configure the pattern for quick use.</p>
		</div>
	</header>
	<LBEditor client:only />
	<footer>
		<span>Copyright &copy; { new Date().getFullYear() }</span>
		<a href="https://andrewwalpole.com" target="_blank">Andrew Walpole</a>
	</footer>
</Default>

<style>
	header {
		padding: 2rem;
		text-align:center;
	}

	.examples {
		h2 {
			padding: 2rem;
		}
	}

	footer {
		display:Grid;
		place-items:center;
		padding:50px;
	}
</style>